.processors {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row dense;
}
.productImg {
    height: 250px;
}
.pagination {
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 50px;
    gap: 30px;
}
.categorySelect {
    display: flexbox;
    right: 0px;
    margin-left: 90%;
}
