* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: 50%;
  border-top: 30%;
  }
  
  .row{
  margin-top: 15px;
    margin-left: 10%;
    box-shadow: -7px -9px 47px -15px rgba(0,0,0,0.6);
  -webkit-box-shadow: -7px -9px 47px -15px rgba(0,0,0,0.6);
  -moz-box-shadow: -7px -9px 47px -15px rgba(0,0,0,0.6);
  padding: 5px;
  }
  
  
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  
  
  .formcontrol{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
  
  }
  
  
  .myButton {
      box-shadow: 0px 10px 14px -7px #276873;
      background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
      background-color:#599bb3;
      border-radius:8px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:20px;
      font-weight:bold;
      padding:13px 32px;
      text-decoration:none;
      text-shadow:0px 1px 0px #3d768a;
  }
  .myButton:hover {
      background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color:#408c99;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  h4{
    padding: 3%;
  }
  @media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }
  
  .second {
  display: flex;
  margin: 20px;
 
  }