
.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: var(--primary-color);
    position: sticky;
    top: 50px;

}
.sidebarWrapper{
    color: var(--white-color);
    padding: 20px;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 18px;
    color: var(--white-color);
    font-weight: 800;
    background-color: teal;
    padding: 7px;
    border-radius: 7px;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.sidebarListItem:hover{
    background-color: teal;
    color: white;
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}