.heading img {
    width: 60px;
    height: 40px;
    margin-top: 5px;
}
.NewArrivals h4 {
    font-weight: 400;
}
.NewArrivals span {
    color: #e94560;
    font-size: 15px;
    font-weight: 500;
}
.NewArrivals .box img {
    width: 100%;
    height: 100%;
}
.img {
    border: solid 1px rgb(221, 217, 217);
    border-radius: 8px;
    background-color: rgb(234, 236, 236);
    display: flex;
    justify-content: center;
}
