@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:wght@200;300;400;700&display=swap");
@import url(./topbar/topbar.css);
@import url(./sidebar/sidebar.css);
@import url(./pages/home/home.css);
:root {
    --primary-color: #21a558;
    --second-color: #794afa;
    --secondary-dark-color: #1e5631;
  
    --white-color: #fff;
    --light-bg-color: #f3fcf4;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;
    --warning-color: red;
  
    --font-large: 30px;
    --font-small: 14px;
    --font-smaller: 12px;
  
    --percent100: 100%;
    --percent50: 50%;
  
    --fw3: 300;
    --fw4: 400;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
  
    --trans-background-color: background-color 0.3s, color 0.3s;
    --trans-background: background-color 0.3s;
    --trans-color: color 0.3s;
  }
*{
    font-family: "Source Serif Pro", serif;
}
.containerAdmin{
  display: flex;
  margin-top: 10px;
}
